{% extends 'accounts/main.html' %}

{% block content %}

<br>
<div class="row mt-5 ml-5 mr-5">
    <div class='col-md'>
        <div class="card card-body">
            <h5>Товары</h5>
        </div>
        <div class="card card-body">
            <table>
                <tr>
                    <th>Товар</th>
                    <th>Категория</th>
                    <th>Цена</th>
                </tr>
                {% for prod in products %}
                    <td>{{prod.name}}</td>
                    <td>{{prod.category}}</td>
                    <td>{{prod.price}}</td>

                {% endfor%}
            </table>

        </div>
    </div>
</div>

{% endblock %}